@charset "UTF-8";
/* CSS Document */
/*-------Font Declaration Styles-------*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/*-------Globals-------*/

body{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing: antialiased; font-family: 'Source Sans Pro', sans-serif;}

a{cursor:pointer;}

section{min-width:1000px;}

.content-wrapper{
	max-width:977px;
	min-width:977px;
	margin:0 auto;
	position:relative;
}

/*-------Header Placeholder Styles-------*/

header{
	text-align:center;
	background-image:url(../img/header-bg.png);
	background-repeat:repeat-x;
	width:100%;
}
header img {
    display: block;
    margin: 0 auto;
}


/*---Home Page hero section ---*/

.hero {
    min-height: 655px;
	position:relative;
}

.fadeIn{
	opacity:1 !important;
	transition:.75s ease opacity;
}

.KB-img {
    height: 480px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}


.KB-img img{
	 opacity:0;
	 min-width:1000px;
	 min-height:700px;
	 width:110%;
	 margin-top:-180px;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
	-webkit-animation-name: slideIn;
	-moz-animation-name: slideIn;
	animation-name: slideIn;
	-moz-animation-duration: 260s;
	-webkit-animation-duration: 260s;
	animation-duration: 260s;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}


.KB-img.loaded img{
    opacity: 1;
}

@keyframes slideIn {
 25% {
    -webkit-transform: scale(1.6) translate(-200px, 100px);
   	-moz-transform: scale(1.6) translate(-200px, 100px);
   	-o-transform: scale(1.6) translate(-200px, 100px);
   	transform: scale(1.6) translate(-200px, 100px);
 }
 50% {
    -webkit-transform: scale(1) translate(0px, 0px);
   	-moz-transform: scale(1) translate(0px, 0px);
   	-o-transform: scale(1) translate(0px, 0px);
   	transform: scale(1) translate(0px, 0px);
 }
 75% {
    -webkit-transform: scale(1.6) translate(+200px, 0px);
   	-moz-transform: scale(1.6) translate(+200px, 0px);
   	-o-transform: scale(1.6) translate(+200px, 0px);
   	transform: scale(1.6) translate(+200px, 0px);
 }

}

@-moz-keyframes slideIn {
 25% {
   -moz-transform: scale(1.6) translate(-200px, 100px);
   transform: scale(1.6) translate(-200px, 100px);
 }
 50% {
   -moz-transform: scale(1) translate(0px, 0px);
   transform: scale(1) translate(0px, 0px);
 }
 75% {
   -moz-transform: scale(1.6) translate(+200px, 100px);
   transform: scale(1.6) translate(+200px, 100px);
 }

}

@-webkit-keyframes slideIn {
 25% {
   -webkit-transform: scale(1.6) translate(-200px, 100px);
   transform: scale(1.6) translate(-200px, 100px);
 }
 50% {
   -webkit-transform: scale(1) translate(0px, 0px);
   transform: scale(1) translate(0px, 0px);
 }
 75% {
   -webkit-transform: scale(1.6) translate(+200px, 100px);
   transform: scale(1.6) translate(+200px, 100px);
 }

}

.hero .content-wrapper {
    height: 480px;
}

.type-wrapper {
    color: #ffffff;
    padding-left: 8px;
    padding-top: 16%;
    width: 85%;
}
.hero-img-scroller div {
    display: inline-block;
    width: 145%;
	min-width: 2000px;
	-moz-animation-duration: 80s;
	-webkit-animation-duration: 80s;
	animation-duration: 80s;
    -webkit-animation-name: scroller;
	-moz-animation-name: scroller;
	animation-name: scroller;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.hero-img-scroller {
    left: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hero-img-scroller img {
	-webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
    left: 0;
    position: relative;
    top: 0;
    width: 201%;
	opacity:0;
}
.hero-img-scroller .loaded img{
    opacity: 1;
}

@keyframes scroller{
	0% {
    -moz-transform: translate(0%);
    transform: translate(0%);
	 }
    100% {
	 -moz-transform: translate(-100%);
	 transform: translate(-100%);
     }
}


@-webkit-keyframes "scroller"{
	0% {
    -webkit-transform: translate(0%);
    transform: translate(0%);
	 }
    100% {
	 -webkit-transform: translate(-100%);
	 transform: translate(-100%);
     }
}

.type-wrapper h1 {
    color: #ffffff;
    font-family: 'Avenir LT W01_85 Heavy1475544', 'Avenir', sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
}

.type-wrapper p{
	font-size:18px;
	line-height:22px;
}

.type-wrapper .btn:first-of-type{
	margin-left:0px;
}

.hero-callout {
    margin: 70px auto 0;
    max-width: 700px;
    text-align: center;
    width: 65%;
}
.hero-callout h2{
    font-family: 'Avenir LT W01_65 Medium1475532', 'Avenir', sans-serif;
}


.hero-callout p {
    font-size: 18px;
    line-height: 23px;
    margin: 10px auto 20px;
}

.hero-img {
    bottom: -200px;
    left: 85px;
    position: absolute;
    vertical-align: top;
    z-index: 10;
}

/*---Video Section styles---*/


.vid-rotator {
    background-color: #f4f5f6;
    margin-top: 100px;
    min-height: 590px;
    padding-bottom: 40px;
    vertical-align: top;
}
.vid-rotator .section-header {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: thin solid #e6e6e6;
    height: 169px;
    margin-bottom: -175px;
    position: relative;
    width: 100%;
}
.vid-rotator h2 {
    background-color: #f4f5f6;
    color: #5b738a;
    font-family: 'Avenir LT W01_65 Medium1475532', 'Avenir', sans-serif;
    font-size: 36px !important;
    margin: 0 auto -35px;
    padding: 25px 0 18px;
    text-align: center;
    text-transform: inherit;
}

.video-type h3 {
    font-family: 'Avenir LT W01_85 Heavy1475544', 'Avenir', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    margin: 0 0 5px;
	color:#5B738A;
}

.video-type a {
    color: #5B738A;
    font-size: 14px;
    line-height: 21px;
}

.video-slide {
  background-color: #fff;
  margin: 40px auto;
  max-width: 953px;
  position: relative;
  border: 0;
  padding-top: 10px;
}

.video-slide iframe {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
}

.video-slide:nth-child(odd):after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(to left, #7c4490 0%, #00c9c9 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to left, #7c4490 0%, #00c9c9 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to left, #7c4490 0%, #00c9c9 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #7c4490 0%, #00c9c9 100%);
}

.video-slide:nth-child(even):after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(to right, #7c4490 0%, #00c9c9 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, #7c4490 0%, #00c9c9 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #7c4490 0%, #00c9c9 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #7c4490 0%, #00c9c9 100%);
}

.video-type {
    display: inline-block;
    margin: 25px;
    max-width: 230px;
    text-align: left;
    vertical-align: bottom;
}
.left .video-type {
    bottom: 0;
    left: 68.6%;
    position: absolute;
}

/*---Testimonial Section Styles---*/


.testimonials {
    background-image: url("../img/callout-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 422px;
	margin-bottom: 330px;
}

.testimonial-wrapper {
    top: 120px;
}

.testimonial-slide{
	color:#fff;
	background-color:transparent !important;
}

.testimonial-slide .testimonial{
	font-size:24px;
}

.testimonial-slide .user-name{
	padding-top:15px;
	font-size:18px;
}

.testimonial-slide span {
    background-color: #fff;
    display: block;
    height: 10px;
    position: absolute;
    top: 0;
    width: 110px;
}

.user-type-wrapper {
    display: inline-block;
    padding-top: 40px;
    vertical-align: top;
    width: 70%;
}

.user-avatar {
    display: inline-block;
    text-align: center;
    width: 27%;
}

.testimonial-nav-wrap {
    position: absolute;
    right: 45px;
    top: 306px;
    z-index: 10;
}

.testimonial-nav-wrap  div{
	display:inline-block;
	margin-left:45px;
	cursor:pointer;
}

/*---Plan Options Styles---*/


.plan-options {
    padding-bottom: 180px;
    padding-top: 75px;
    text-align: center;
}

.plan-options h2{
	margin-bottom:65px;
	font-size:25px;
	font-family:'Avenir LT W01_65 Medium1475532', 'Avenir', sans-serif;
}

#annual-plan{
	border-top:solid #ff5548 20px;
}

#monthly-plan{
	border-top:solid #c7c7c7 20px;
}

#limited-time{
	border-top:solid #5c738a 20px;
}
.plan-option {
    background-color: #f4f5f6;
    display: inline-block;
    font-family: 'Avenir LT W01_65 Medium1475532', 'Avenir', sans-serif;
    height: 540px;
    margin-right: 1.5%;
    vertical-align: top;
    width: 32%;
}

.plan-option:last-of-type{
	margin-right:0;
}

.option-divider-line{
	border-top:thin #dddddd solid;
	width:130PX;
	margin:0 auto;
}
.plan-option .btn{
	margin-top:45px;
}
.plan-option h4 {
    color: #4a4a4a;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 45px;
    margin-top: 53px;
	font-family:'Avenir LT W01_65 Medium1475532', 'Avenir', sans-serif;
}

.plan-option h4 + span {
    color: #858484;
    display: block;
    font-size: 14px;
    margin-bottom: 24px;
    margin-top: -40px;
}
.plan-option h5 {
    color: #5c738a;
    font-family: 'Avenir LT W01_85 Heavy1475544', 'Avenir', sans-serif;
    font-size: 38px;
    font-weight: normal;
    margin: 70px 0 50px;
}
.plan-option h5 span {
    color: #8d8d8d;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 40px;
}
.plan-option p {
    color: #616161;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 43px;
}

/*---Stream Options Styles---*/


.stream-options {
    background-color: #5c738a;
    font-family: 'Avenir LT W01_65 Medium1475532', 'Avenir', sans-serif;
    min-height: 280px;
    text-align: center;
    width: 100%;
}

.stream-options .content-wrapper {
    height: 320px;
    position: relative;
    top: -220px;
}
.stream-options h2{
	color:#ffffff;
	font-size:24px;
	font-family:'Avenir LT W01_65 Medium1475532', 'Avenir', sans-serif;
}

.stream-hero {
    display: inline-block;
    text-align: center;
}
.stream-options p {
    color: #ffffff;
    font-family: source sans pro;
    font-size: 14px;
    margin: 0 auto;
    width: 50%;
}

.stream-logos{
	margin-top:25px;
}

.stream-logos a {
    background-image: url("../img/download-logos-retina.png");
    background-repeat: no-repeat;
    background-size: 697px auto;
    display: inline-block;
    height: 45px;
    margin-right: 10px;
    overflow: hidden;
    width: 155px;
}

.stream-logos #apple-tv-logo {
    background-position: 45px center;
}

.stream-logos #roku-logo {
    background-position: -98px center;
}

.stream-logos #ios-logo {
    background-position: -253px center;
    width: 110px;
}

.stream-logos #googlecast-logo {
    background-position: -372px center;
    width: 160px;
}

.stream-logos #airplay-logo {
    background-position: -562px center;
}

/*-------Footer Styles-------*/

footer ul{
	display:inline-block;
	list-style:none;
	vertical-align:top;
	margin-top:85px;
	width: 19.75%;
}

footer ul li ul {
    display: block;
    vertical-align: top;
    width: 100%;
}
footer li, footer li a {
    color: #5c738a;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
}
footer ul h3{
	font-weight:bold;
	font-family:'Avenir LT W01_65 Medium1475532', 'Avenir', sans-serif;
}

footer a{
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
footer a:after {
	content: '';
	display: block;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .35s ease, background-color .35s ease;
}

footer ul .footer-child{
	max-height:0px;
	padding-left:10px;
	overflow:hidden;
	margin-top:0px;
	transition:all ease .25s;
}

footer ul.footer-child.active {
    margin-bottom: 5px;
    margin-top: 0px;
    max-height: 100px !important;
    width: 100%;
}

.footer-icon {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.25s ease 0s;
	font-family: sans-serif;
}

.footer-icon.active{
	transform:rotate(90deg);
}

/*-------About Page Styles------*/

/*---About Hero Section---*/
.about-hero {
    min-height: 650px;
    position: relative;
}

.about-hero .KB-img{
    height: 650px;
}

.about-hero .KB-img img{
    margin-top: 0px;
}

.about-hero .type-wrapper {
    padding-top: 19%;
    position: relative;
    text-align: center;
    width: 976px;
    z-index: 10;
	transition: all ease .5s;
	opacity:1;
}

.about-hero .type-wrapper.active {
	opacity:0;
	transition: all ease .5s;
}

.about-hero .type-wrapper h1 {
    color: #5c738a;
    letter-spacing: 3px;
}

.about-hero .type-wrapper p {
    color: #4a4a4a;
    margin: 0 auto;
    width: 70%;
}

.about-hero .btn {
    bottom: -34px;
    left: 50%;
    margin-left: -7.5%;
    position: absolute;
}

.about-play-movie{
	opacity:.75;
	transition:.25s all ease;
}

.about-play-movie:hover{
	opacity:1;
}

.about-play-movie img {
    border: medium none;
    height: 83px;
    margin: 10px auto 25px;
    width: 83px;
}

.about-hero-border{
	border: 8px solid #00c9c9;
    height: 450px;
    left: 50%;
    margin-left: -488.5px;
    position: absolute;
    top: 20%;
    width: 100%;
	-moz-border-image: -moz-linear-gradient(top left, #00c9c9 0%, #7c4490 100%);
	-webkit-border-image: -webkit-linear-gradient(top left, #00c9c9 0%, #7c4490 100%);
	border-image: linear-gradient(to bottom right, #00c9c9 0%, #7c4490 100%);
	border-image-slice: 1;
	z-index:1;
	transition:all ease .5s;
	transition-delay:.5s;
}

.about-hero-border.active {
    height: 543px;
    top: 5%;
    transition-delay: 0s;
}

.about-hero-border .btn{
	transition:bottom ease .5s;
	transition-delay:.5s;
}

.about-hero-border .btn:hover{
	transition-delay:0s;
}

.about-hero-border.active .btn{
	bottom: -71px;
	transition-delay:0s;
}

.about-vimeo {
    left: 8px;
    opacity: 0;
    position: absolute;
    top: 29px;
    transition: all 1s ease 0s;
    z-index: 0;
}

.about-vimeo.active{
	opacity:1;
	transition-delay:.5s !important;
	transition:all ease 1s;
	z-index:2;
}

.about-vimeo-close {
    position: absolute;
	right: -55px;
    top: -10px;
	cursor:pointer;
	transition:all ease .5s;
	opacity:0;
	pointer-events:none;
}

.active .about-vimeo-close{
	opacity:1;
	transition-delay:.75s;
	pointer-events:inherit;
} 

/*---About Infographic Section---*/

.chart{
	text-align:center;
	padding-bottom:50px;
}

.chart-header {
    background-color: #f3f5f6;
    height: auto;
    min-width: 976px;
    padding: 55px 0 20px;
    position: relative;
    width: 100%;	
}
.chart-header .down-arrow{
	   top: 100%;
       left: 50%;
       border: solid transparent;
       content: " ";
       height: 0;
       width: 0;
       position: absolute;
       pointer-events: none;
       border-color: rgba(243, 245, 246, 0);
       border-top-color: #f3f5f6;
       border-width: 30px;
       margin-left: -30px;
}

.chart-header h2{
	font-family:'Avenir LT W01_65 Medium1475532', 'Avenir', sans-serif;
}

.chart-header p{
	color:#5c738a;
	font-size:18px;
	font-family:'Avenir LT W01_65 Medium1475532', 'Avenir', sans-serif;
	margin-top:-4px;
}

.chart-img{
	margin-top:75px;
	margin-bottom:40px;
}

.chart-img img {
    height: 495px;
    width: 934px;
}

/*---About History Section---*/

.about-more {
    background-image: url("../img/gaia-history-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-more p{
	font-size:17px;
	line-height:25px;
}

.about-more-type {
    left: 0;
    padding: 110px 0;
    width: 60%;
}

.about-more-img-wrap{
	padding-left:85px;
	margin-bottom:20px;
}

.about-more-img-wrap img{
	width:286px
}